.App {
  display: flex;
  flex: 1;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.card {
  width: 25rem;
  height: auto;
  padding: 2%;
  background-color: rgb(255, 255, 255);

  border-radius: 5px;
}
p,
h4 {
  font-family: sans-serif;
}
.grid input {
  width: 40%;
  outline: none;

  height: 3.2rem;
  padding-left: 10px;
  font-family: sans-serif;
  border-radius: 5px;
  border: 1px rgb(218, 217, 217) solid;
  background-color: rgb(255, 255, 255);
}
.grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}
.select {
  width: 50%;
  margin: 5px;
  height: 3.5rem !important;
}
.css-yk16xz-control {
  height: 3.5rem !important;
}
@media only screen and (max-width: 600px) {
  .card {
    width: 80%;
  }
}
